
/* Owl Theme
----------------------------------------------- */

.owl-prev {
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
}
.owl-next {
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
}