
/* Typography
----------------------------------------------- */

/* Headers */

h1, h2, h3, h4, h5, h6 {
	color: $dark-gray;
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	margin: 20px 0;
	padding: 0;
}
h1 {
	@include font-size(3.2);
}
h2 {
	font-family: 'Open Sans', sans-serif;
	@include font-size(1.7);
}
h3 {
	@include font-size(2.2);
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	@include font-size(2);
}
h5 {
	font-style: italic;
	font-weight: 300;
	@include font-size(1.8);
}
h6 {
	color: $light-gray;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	@include font-size(1);
}

/* Paragraphs */

p {
	color: black;
	line-height: 1.8;
	@include font-size(1.4);
}

/* Unorder and Ordered Lists */

ul {
	margin: 20px 0 20px 40px;
	padding: 0;
	li {
		line-height: 1.6;
		@include font-size(1.5);
		@include font-size(1.4);
	}
}
ol {
	margin: 20px 0 20px 40px;
	padding: 0;
	li {
		line-height: 1.6;
		@include font-size(1.4);
	}
}

/* Blockquotes */

blockquote {
	clear: left;
	display: block;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 300;
	margin: 40px 20px;
	p {
		color: $dark-gray;
		line-height: 1.5;
		text-align: center;
		@include font-size(2);
	}

	cite {
		margin: 40px 0 60px;
	}
}

cite {
	color: $light-gray;
	display: block;
	margin: 40px 0 60px;
	position: relative;
	text-align: center;
	width: 100%;
	@include font-size(1.4);

	&::after {
		border-bottom: 1px solid $light-gray;
		content: "";
		margin-left: -35px;
		position: absolute;
		bottom: -10px; left: 50%;
		width: 70px;
	}
}

/* Links */

a {
	color: $teal;
}

/*
This was made by João Sardinha
Visit me at http://johnsardine.com/
*/

table a:link {
	color: $teal;
	text-decoration:none;
}
table a:visited {
	color: $coal;
	font-weight:bold;
	text-decoration:none;
}
table {
	background: #eee;
	color: $coal;
	font-family: 'Open Sans', sans-serif;
	margin: 20px 0;
	@include font-size(1.4);
}
table th {
	background: white;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	padding: 21px 25px 22px 25px;
}
table th:first-child {
	text-align: left;
	padding-left: 20px;
}
table tr {
	text-align: left;
	padding-left: 20px;
}
table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}
table td {
	background: #fafafa;
	padding: 18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	padding: 18px;
}
table tr.even td {
	background: #f6f6f6;
}
table tr:last-child td {
	border-bottom: 0;
}
table tr:hover td {
	background: #f2f2f2;
}

/* Defintion Lists */

dl {
	@include font-size(1.4);

	dt, dd {
		line-height: 1.6;
	}
}

/* Address */

address {
	@include font-size(1.4);
}

/* Pre */

pre {
	@include font-size(1.4);
}

/* submit button */

input[type="submit"] {
  background: $coal;
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.55s ease-in-out;
  &:hover {
  	background: lighten($coal, 5%);
  }

    &.btn-primary {
		border-radius: 3px;
		padding: 8px;
		text-align: center;
		width: 100%;
	}

    &.search-btn {
  		background-color: transparent;
		background: url(assets/images/search.svg) no-repeat top left;
	  	background-size: contain;
		border: none;
		height: 20px;
		outline: none;
		padding: 0;
		position: absolute;
		top: 8px; right: 12px;
		width: 20px;
	}
}

