
/* Shortcodes
----------------------------------------------- */

/* shortcode grids */

.shortcode-col {
	display: block;
	float:left;
	margin: 0 1.6% 0 0;
}
.last {
	margin-right: 0;
}

/* separators */

.separator {
	margin: 30px 0;
	width: 100%;
}